$num: 0; //循环计数器
$sum: 30; //循环次数，用于控制生成calss的数量
$step: 2; //步长，由于设计稿2rpx=1px，故此处步长为2
$pixis: 'rpx'; //单位

$primary_list: $u-primary, $u-success, $u-warning, $u-error, $u-info;
$dark_list: $u-primary-dark, $u-success-dark, $u-warning-dark, $u-error-dark, $u-info-dark;
$disabled_list: $u-primary-disabled, $u-success-disabled, $u-warning-disabled, $u-error-disabled, $u-info-disabled;
$light_list: $u-primary-light, $u-success-light, $u-warning-light, $u-error-light, $u-info-light;
$color_list: $primary_list, $dark_list, $disabled_list, $light_list;
$color_level: 'paimary', 'dark', 'disabled', 'light';
$color_type: 'primary', 'success', 'warning', 'error', 'info';

@while $num < ($sum + 1) {
  /* #ifndef APP-NVUE */
  // 层级
  .z-#{$num} {
    z-index: #{$num};
  }
  /* #endif */

  // 宽高
  .w-#{$num} {
    width: #{$num * $step}#{$pixis};
  }
  .w-#{$num + $sum} {
    width: #{$num + $sum}#{$pixis};
  }
  .h-#{$num } {
    height: #{$num * $step}#{$pixis};
  }
  .h-#{$num + $sum} {
    height: #{$num + $sum}#{$pixis};
  }
  //padding
  .p-#{$num} {
    padding: #{$num * $step}#{$pixis};
  }
  .px-#{$num} {
    padding-left: #{$num * $step}#{$pixis};
    padding-right: #{$num * $step}#{$pixis};
  }
  .py-#{$num} {
    padding-top: #{$num * $step}#{$pixis};
    padding-bottom: #{$num * $step}#{$pixis};
  }
  .pt-#{$num} {
    padding-top: #{$num * $step}#{$pixis};
  }
  .pr-#{$num} {
    padding-right: #{$num * $step}#{$pixis};
  }
  .pb-#{$num} {
    padding-bottom: #{$num * $step}#{$pixis};
  }
  .pl-#{$num} {
    padding-left: #{$num * $step}#{$pixis};
  }
  //margin
  .m-#{$num} {
    margin: #{$num * $step}#{$pixis};
  }
  .mx-#{$num} {
    margin-left: #{$num * $step}#{$pixis};
    margin-right: #{$num * $step}#{$pixis};
  }
  .my-#{$num} {
    margin-top: #{$num * $step}#{$pixis};
    margin-bottom: #{$num * $step}#{$pixis};
  }
  .mt-#{$num} {
    margin-top: #{$num * $step}#{$pixis};
  }
  .mr-#{$num} {
    margin-right: #{$num * $step}#{$pixis};
  }
  .mb-#{$num} {
    margin-bottom: #{$num * $step}#{$pixis};
  }
  .ml-#{$num} {
    margin-left: #{$num * $step}#{$pixis};
  }
  // border
  .border-#{$num} {
    border-width: #{$num * $step}#{$pixis};
  }
  .border-t-#{$num} {
    border-top-width: #{$num * $step}#{$pixis};
  }
  .border-r-#{$num} {
    border-right-width: #{$num * $step}#{$pixis};
  }
  .border-b-#{$num} {
    border-bottom-width: #{$num * $step}#{$pixis};
  }
  .border-l-#{$num} {
    border-left-width: #{$num * $step}#{$pixis};
  }
  .rounded-#{$num} {
    border-radius: #{$num * $step}#{$pixis};
  }
  // line-height
  .leading-#{$num} {
    line-height: #{$num * $step}#{$pixis};
  }
  //定位相关
  .t-#{$num} {
    top: #{$num * $step}#{$pixis};
  }
  .r-#{$num} {
    right: #{$num * $step}#{$pixis};
  }
  .b-#{$num} {
    bottom: #{$num * $step}#{$pixis};
  }
  .l-#{$num} {
    left: #{$num * $step}#{$pixis};
  }
  // 字号
  .text-#{$num} {
    font-size: #{$num * $step}#{$pixis};
  }
  $num: $num + 1;
}
/* #ifndef APP-NVUE */
//百分比 高度、宽度拓展
@for $precentage from 1 through 10 {
  .w-p-#{$precentage * 10} {
    width: #{$precentage * 10}#{'%'};
  }
  .h-p-#{$precentage * 10} {
    height: #{$precentage * 10}#{'%'};
  }
}
/* #endif */

// 颜色
@each $type in $color_type {
  $ti: index($color_type, $type);
  $num: 0;
  @each $level in $color_level {
    $li: index($color_level, $level);
    @if $num == 0 {
      .bg-#{$type} {
        background-color: nth(nth($color_list, $li), $ti);
      }
      .text-#{$type} {
        color: nth(nth($color_list, $li), $ti);
      }
      .border-#{$type} {
        border-color: nth(nth($color_list, $li), $ti);
      }
    } @else {
      .bg-#{$type}-#{$level} {
        background-color: nth(nth($color_list, $li), $ti);
      }
      .text-#{$type}-#{$level} {
        color: nth(nth($color_list, $li), $ti);
      }
      .border-#{$type}-#{$level} {
        border-color: nth(nth($color_list, $li), $ti);
      }
    }
    $num: $num + 1;
  }
}
